/* header */
header {z-index: 999;}
header ul li {cursor: pointer;}
header .submenu li {font-size: 14px;color:#464646;}
header .submenu li:hover a {color:#3A8DFD;}
header .submenu li:hover i {color:#3A8DFD;}
header .submenu li::after {content:'|';padding-left: 8px;padding-right: 8px;}
header .submenu li:last-child::after {content: none;}
header .global .lang a p {color:#464646;}
header .global .lang a:hover p {color:#3a8dfd;}
header .global:hover > div {display: block !important;}
header .myPage .login {background-color: #3A8DFD; color: white;}
header .myPage .center {background-color: #E9F2FF; color: #3A8DFD;}
header .gnb {display: none;}
header .gnb.active {display: block;}
header .gnb > li:hover > ul {display: block !important;}
header .gnb ul {border-color: #3A8DFD !important;}
header .gnb a {font-size: 14px;}
/* 메인 배너, 메뉴 */
.main .bannerSlide img {width: 100%;}
.main .menuBox .item {position: relative; width: 100%; padding-bottom: 100%; background: linear-gradient(135deg, #3a8dfd, #0082cd);}
.main .menuBox a span {font-size: 12px;}
/* 금융상품, 검색 */
.searchMenu form {overflow: hidden;border-color: #3a8dfd !important;}
.searchMenu input {border: none;font-size: 12px;}
.searchMenu input:focus {outline: none;}
.searchMenu .menuBox {background-color: #3a8dfd;}
.searchMenu .icon {width: 20%;}
.searchMenu .icon p {font-size: 10px;}

/* 컨텐트 */

/* 빠른 메뉴 */
.content .item {width: 30%; padding-bottom:20%; background-color:  #f0f0f0; border: 1px solid #f0f0f0;}
.content .item:hover {border: 1px solid #3A8DFD; background-color: #E9F2FF;}
.content .item:hover span {color:#3a8dfd;}
.content .item span {font-size: 12px;} 
.content h4 {color:#3A8DFD;}
.content ul a span:first-child,
.content .time {display: block;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.content ul a span {font-size: 12px;}
.content ul a:hover {color:#0082cd;}
.content .imgWrap {overflow: hidden;}
.content .service a img {transition: .2s;}
.content .service a:hover {color: unset;}
.content .service a:hover img {transform: scale(1.1);}
.content .textWrap h5 {font-size: 12px;}
.content .textWrap p {font-size: 10px;}