.main .bannerSlide img {width: 100%;}
.main .menuBox .item {position: relative; width: 100%;padding-bottom: 100%;background: linear-gradient(135deg, #3a8dfd, #0082cd);}

.banner {background-color: bisque;}